<div class="col-12 grid-margin mt-5 addproductpage">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Product</h4>
   
    <div class="">
      <form id="editProduct-form">
        <p class="card-description">  </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Product Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="editproductname" id="editProductName" value="<%= data.productName %>">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-3 col-form-label">Category</label>
              <div class="col-sm-12">
                
                <div class="multiselect">
                  <div class="select-box form-control" id="select-box">
                      <div class="selected-options" id="editProductCategory"><%= data.categorys %></div>
                      <div class="arrow">&#9660;</div>
                  </div>
                  <div class="options-container" id="options-container" >
                    <% for(let j=0;j<dataCategory.length;j++){ %>
                      <div class="option">                      
                          <label><input type="checkbox" class="option-input" value="<%= dataCategory[j].categoryname %>" 
                            <%= data.categorys.includes(dataCategory[j].categoryname) ? 'checked' : '' %> >
                            <%= dataCategory[j].categoryname %>
                          </label>
                      </div>
                    <% } %>
                  </div>
              </div>
             
          
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-sm-12 col-form-label">Description</label>
              <div class="col-sm-12">
                <textarea class="form-control" id="editProductDescription" rows="4" name="editdescription"><%= data.description %></textarea>
              </div>
            </div>
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Brand Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="editbrandname" id="editProductBrandname" value="<%= data.brandname %>">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Stock</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="stock" id="editProductStock" value="<%= data.stock %>">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Price</label>
              <div class="col-sm-12">
                <input type="number" class="form-control" name="editprice" id="editProductPrice" value="<%= data.price %>">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Size</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="editsize" id="editProductSize" value="<%= data.size %>">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Material</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="editmaterial" id="editProductMaterial" value="<%= data.material %>">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Color</label>
              <div class="col-sm-2 rounded-3">
                <input type="color" class="form-control pt-2 pb-2 color-addproduct" id="editProductColor" value="<%= data.color %>" title="Choose product color" name="editcolor">
              </div>
            </div>
          </div>
        </div>
        <div id="image-product-data">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Image</label>
              <div class="col-sm-12">
                <input type="file" class="form-control" id="editProductImage_1" name="editproductImage" accept="image/*">
              </div>
              <div  class="ml-3 image-addproduct-div" >
                <img class="image-addproduct" id="editImageProduct-1" src="/public/admin/assets/productImages/<%= data.productImages[0] %>" alt="Upload the file">
              </div>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">*</label>

              <div class="col-sm-12">
                <input type="file" class="form-control" id="editProductImage_2" name="editproductImage" accept="image/*">
              </div>
              <div class="ml-3 image-addproduct-div" >
                <img class="image-addproduct" id="editImageProduct-2" src="/public/admin/assets/productImages/<%= data.productImages[1] %>"" alt="Upload the file">
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">Image</label>
              <input type="hidden" id="oldImages" value="<%= data.productImages %>">

              <div class="col-sm-12">
                <input type="file" class="form-control" id="editProductImage_3" name="editproductImage" accept="image/*">
              </div>

              <div class="ml-3 image-addproduct-div">
                <img class="image-addproduct"id="editImageProduct-3" src="/public/admin/assets/productImages/<%= data.productImages[2] %>"" alt="Upload the file">
              </div>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class="col-sm-3 col-form-label">*</label>

              <div class="col-sm-12">
                <input type="file" class="form-control" id="editProductImage_4" name="editproductImage" accept="image/*">
              </div>

              <div class="ml-3 image-addproduct-div">
                <img class="image-addproduct" id="editImageProduct-4" src="/public/admin/assets/productImages/<%= data.productImages[3] %>"" alt="Upload the file">
              </div>

            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-sm-12 col-form-label">Specifications</label>
              <div class="col-sm-12">
                <textarea class="form-control" id="editProductSpecification" rows="4" name="specifications" placeholder="*specifications seprated using commas"><%= data.specifications %></textarea>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" id="productId" value="<%= data._id %>">
        <button type="button" class="btn btn-primary mr-3 ml-3" id="edit-product-submit">Submit</button>
        <button class="btn btn-dark">Cancel</button>
      </form>
      <p id="edit-product-sucess" class="mt-4 ml-3"></p>
    </div>
  </div>
  </div>
</div>

