<h1 class="card-title text-center text-dark">Edit Category Details</h1>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body form-style">
      <form class="forms-sample mb-3" id="editCategoryForm" method="POST">
        <div class="form-group">
          <label for="exampleInputName1">Category Name</label>
          <input type="text" class="form-control" id="categoryname" placeholder="Category Name" name="categoryname" value="<%= data.categoryname %>">
          <p class="text-danger ml-2" name="validate-category"></p>

          <!-- Hidden to Take Category Name and Id -->
          <input type="hidden" id="oldCategory" name="oldCategoryName" value="<%= data.categoryname %>">
          <input type="hidden" id="categoryid" name="categoryid" value="<%= data._id %>">
          <input type="hidden" id="oldImage" name="oldImage" value="<%= data.category_image %>">

        </div>
        <div class="form-group ">
          <label class="col-sm-3 col-form-label">Image</label>
          <input type="file" class="form-control" id="edit-categoryImage" name="categoryImage" accept="image/*" onchange="imageView(this)">
          <p class="text-danger ml-2" name="validate-category"></p>

          <!-- Image View -->
          <div  class="ml-3">
            <img class="category-image" id="edit-category-img-view" src="/public/admin/assets/categoryImages/<%= data.category_image %>" alt="Category Image File">
          </div>

        </div>
        <div class="form-group">
          <label for="exampleTextarea1">Description</label>
          <textarea class="form-control" id="category-description" rows="4" name="categoryDescription" ><%= data.description %></textarea>
          <p class="text-danger ml-2" name="validate-category"></p>
        </div>
        <button type="submit" class="btn btn-primary mr-2" id="categorysubmit">Submit</button>
        <a href="/admin/home" class="btn btn-dark">Cancel</a>
      </form>
      <div class="" role="alert" id="edit-category-submit-result">
      </div>
    </div>
  </div>
</div>
<script src="/public/admin/js/editCategory.js"></script>

