<%- include('../partials/header.ejs') %>
<div class="main-panel" style="margin-top: -80px">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Revenue</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">
                    <i class="bi bi-currency-rupee"></i><%=
                    (totalRevenue[3].totalAmount * 0.3).toFixed(2) %>
                  </h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <h6 class="text-muted font-weight-normal">Total Revenue</h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-md mdi mdi-codepen text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Sales</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">
                    <i class="bi bi-currency-rupee"></i><%=
                    (totalRevenue[3].totalAmount).toFixed(2) %>
                  </h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p> -->
                </div>
                <h6 class="text-muted font-weight-normal">Total Sales</h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i
                  class="icon-md mdi mdi-wallet-travel text-danger ml-auto"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Pending Orders</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">
                    <i class="bi bi-currency-rupee"></i><%=
                    (totalRevenue[5].totalAmount).toFixed(2) %>
                  </h2>
                  <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p> -->
                </div>
                <h6 class="text-muted font-weight-normal">
                  Pending Orders (<%= totalRevenue[5].totalCount %>)
                </h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i
                  class="icon-md mdi mdi-truck-delivery text-success ml-auto"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Transaction History</h4>
            <input type="hidden" value="<%= JSON.stringify(totalRevenue) %>" id="totalRevenue-inWebsite" >
 
            <canvas id="transaction-history" class="transaction-chart"></canvas>
            <% for(let i = 0 ; i < totalRevenue.length - 3 ; i++) { %>
            <div
              class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
            >
              <div class="text-md-center text-xl-left">
                <h6 class="mb-1">
                  Transfer to <%= totalRevenue[i].paymentMethod %>
                </h6>
                <p class="text-muted mb-0"><%= totalRevenue[4].date %></p>
              </div>
              <div
                class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
              >
                <h6 class="font-weight-bold mb-0">
                  <i class="bi bi-currency-rupee"></i><%=
                  totalRevenue[i].methodTotalAmount %>
                </h6>
              </div>
            </div>
            <% } %>
            <!-- <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Tranfer to Stripe</h6>
                        <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0"><i class="bi bi-currency-rupee"></i>593</h6>
                      </div>
                    </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <h4 class="card-title mb-1">Pending Order</h4>
              <p class="text-muted mb-1">Your data status</p>
            </div>
            <div class="row" style="overflow: scroll; height: 60vh">
              <div class="col-12">
                <div class="preview-list">
                  <% for(let i = 0; i < pendingProduct.length ; i++) { %>
                  <a
                    href="/api/orderManage<%= pendingProduct[i]._id %>"
                    style="text-decoration: none; color: rgb(30, 25, 25)"
                  >
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-primary">
                          <img
                            src="/public/admin/assets/productImages/<%= pendingProduct[i].productData[0].productImages[0] %>"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="preview-item-content d-sm-flex flex-grow">
                        <div class="flex-grow">
                          <h6 class="preview-subject">
                            <%= pendingProduct[i].productData[0].productName %>
                          </h6>
                          <p class="text-muted mb-0">
                            <span class="font-weight-bold">Size</span> : <%=
                            pendingProduct[i].productData[0].size %>
                          </p>
                        </div>
                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                          <p class="text-muted">
                            <%= pendingProduct[i].productInforamtion.orderStatus
                            %>
                          </p>
                          <p class="text-muted mb-0">
                            <span class="font-weight-bold">Ordered Date</span> :
                            <%=
                            (pendingProduct[i].createdAt).toLocaleDateString()
                            %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <span> <i class="icon-md mdi mdi-account-multiple-outline text-dark mr-2"></i></span>
                  <h3 class="mb-0">
                    <%= totalData.totalUsers %>
                  </h3>
                 
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="icon icon-box-success ">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div> -->
              </div>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Total Users</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <span> <i class="icon-md mdi mdi-shopping text-dark mr-2"></i></span>
                  <h3 class="mb-0">
                    <%= totalData.totalProducts %>
                  </h3>
                 
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="icon icon-box-success ">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div> -->
              </div>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Total Products</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <span> <i class="icon-md mdi mdi-truck text-dark mr-2"></i></span>
                  <h3 class="mb-0">
                    <%= totalData.totalOrders %>
                  </h3>
                 
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="icon icon-box-success ">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div> -->
              </div>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Total Orders</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <span> <i class="icon-md mdi mdi-tshirt-crew text-dark mr-2"></i></span>
                  <h3 class="mb-0">
                    <%= totalData.totalBrands %>
                  </h3>
                 
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="icon icon-box-success ">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div> -->
              </div>
            </div>
            <h6 class="text-muted font-weight-normal mt-2">Total Brands</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 grid-margin stretch-card" >
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title">Sales Report</h4>
            <canvas id="salesChart" style="height:250px"></canvas>

            <!-- Buttons for different report intervals -->
          <!-- <button onclick="updateChart('day')">Daily</button>
          <button onclick="updateChart('week')">Weekly</button>
          <button onclick="updateChart('month')">Monthly</button>
          <button onclick="updateChart('year')">Yearly</button> -->
          <input type="hidden" value="<%= JSON.stringify(salesChart) %>" id="salesReportDiagram">
          </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bar chart</h4>
          <input type="hidden" value="<%= JSON.stringify(categoryReport) %>" id="categoryReport">
          <canvas id="barChart" style="height:230px"></canvas>
        </div>
      </div>
    </div>
    </div>
  </div></div>
    
      <%- include('../partials/footer.ejs') %>
    </div>
  </div>
</div>
