<%- include('../partials/header.ejs') %>
<h1 class="card-title text-center text-dark">User Details</h1>
    <div class="col-12 grid-margin stretch-card" id="userview">
    <div class="card card-div">
      <div class="card-body  mt-5">
        <div class="d-grid gap-4 d-md-flex justify-content-md-end mb-2 search">
          <input type="text" class="form-control col-3 mr-2 " id="categorySearch" placeholder="User Search" name="categorySearch">
          <button type="button" class="btn btn-search" onclick="searchUser()"><i class="bi bi-search"></i></button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>email</th>
                <th>PhoneNumber</th>
                <!-- <th>Joined_Date</th> -->
                <th>Verification</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-white">
              <% if(data.length) { %>
              <% for(let i=0;i<data.length;i++){ %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= data[i].username %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phonenumber %></td>
                <!-- <td><%= data[i].joined_date %></td> -->
                <!-- <td><%= data[i]._isVerified ? 'Verfied' : 'NotVerified'%></td> -->
                
                <% if(data[i].block) {%>
                  <td name="<%= data[i]._id %>"><span class="text-danger font-weight-bold">&#128683; Blocked</span></td>
                  <td id="<%= data[i]._id %>"><button class="btn btn-outline-success pl-3 pr-3" id="<%= data[i]._id %>" onclick="userList(this)">Unblock</button></td>
                <% } else { %>
                  <td name="<%= data[i]._id %>"><span class="text-success font-weight-bold">&#9989; Verified</span></td>
                  <td id="<%= data[i]._id %>"><button class="btn  btn-outline-danger pl-4 pr-4" id="<%= data[i]._id %>" onclick="userList(this)">Block</button></td>
                  
                <% } %>
              </tr>
              <% } }else {%>
                <tr class="bg-danger text-center">
                  <th class="text-dark" colspan="7">USER IS NOT FOUND</th>
                </tr> 
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal" style="display: none; width: 23rem;margin-right: 50%;margin-left: 40%; margin-top:3rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">User Block/Unblock</h5>
        <button class="btn btn-transparent" onclick="modalBack()"><i class="bi bi-x cancel"></i></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" onclick="modalBack()">Cancel</button>
        <button type="button" class="btn btn-primary" id="user-sucess" data-category-id="" onclick="userBlock()">OK</button>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer.ejs') %>