<%- include('../partials/header.ejs') %>
<h1 class="card-title text-center text-dark">Brand Details</h1>
    <div class="col-12 grid-margin stretch-card" id="userview">
    <div class="card card-div">
      <div class="card-body  mt-5">
        <div class="d-flex justify-content-between align-items-center mb-2 search">
          <a href="/admin/addbrand" target="_self" rel="noopener noreferrer" class="btn btn-primary"><span>Add Brand</span></a>
          <div class="d-flex">
            <input type="text" class="form-control col-10" id="categorySearch" placeholder="User Search" name="categorySearch">
            <button type="button" class="btn btn-search p-2" onclick="searchUser()"><i class="bi bi-search"></i></button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Brand Name</th>
                <th>Logo</th>
                <th>Edit</th>
                <th>Status</th>
                <th>List/Unlist</th>
              </tr>
            </thead>
            <tbody class="text-white">
              <% if(data.length) { %>
                <% for(let i = 0; i < data.length ; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= data[i].brand_name %></td>
                <td>
                  <!-- <div class="brand-image-table"> -->
                    <img src="/public/admin/assets/brandImages/<%= data[i].brand_logo %>" alt="Brand Logo">
                  <!-- </div> -->
                </td>
                <td><button class="btn btn-transparent edit-btn" onclick="editBrandData(this)" name="<%= data[i]._id %>"><i class="bi bi-pencil-square"></i>Edit</button></td>
                <% if(data[i].status) {%>
                  <td name="<%= data[i]._id %>"><span class="text-success font-weight-bold">&#9989; Listed</span></td>
                  <td id="<%= data[i]._id %>"><button class="btn btn-warning pl-3 pr-3" id="<%= data[i]._id %>" onclick="brandStatusUpdate(this)"><i class="bi bi-x-circle"></i>Unlist</button></td>
                <% } else { %>
                  <td name="<%= data[i]._id %>"><span class="text-danger font-weight-bold">&#128683; Unlisted</span></td>
                  <td><button class="btn btn-primary pl-4 pr-4" id="<%= data[i]._id %>" onclick="brandStatusUpdate(this)"><i class="bi bi-check2-circle"> </i>list</button></td>
                <% } %>

              </tr>
              <% } } else { %>
                <tr class="bg-danger">
                  <th class="text-dark text-center" colspan="9">PRODUCT IS NOT FOUND</th>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal" style="display: none; width: 23rem;margin-right: 50%;margin-left: 40%; margin-top:3rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">User Block/Unblock</h5>
        <button class="btn btn-transparent" onclick="back()"><i class="bi bi-x"></i></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" onclick="back()">Cancel</button>
        <button type="button" class="btn btn-primary" id="user-sucess" data-category-id="" onclick="userBlock()">OK</button>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer.ejs') %>