<h1 class="card-title text-center text-dark">Category Details</h1>
<div class="col-12 grid-margin stretch-card">
  <div class="card card-div">
    <div class="card-body  mt-5">
      <div class="d-grid gap-4 d-md-flex justify-content-md-end search">
        <input type="text" class="form-control col-3 mr-2 " id="categorySearch" placeholder="Category Search" name="categorySearch" value="<%= locals.search ? search : '' %>">
        <button type="button" class="btn btn-search" onclick="searchCategory()"><i class="bi bi-search"></i></button>
      </div>
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Category Name</th>
              <th>image</th>
              <th>Edit</th>
              <th>Status</th>
              <th>List/Unlist</th>
              <th>Offer</th>
              <th>Apply Offer</th>
              <!-- <th>Delete/Retrieve</th> -->
              <!-- <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
              <td><label class="badge badge-danger">Pending</label></td> -->
            </tr>
          </thead>
          <tbody class="text-white">
            <% if(data.length > 0) { %>
              <% for(let i=0;i<data.length;i++) { %>
              <tr class="<%= data[i]._id %>">
                <td><%= i+1 %></td>
                <td><%= data[i].categoryname %></td>
                <td>
                  <div style="width: 5rem; height: 5rem;">
                      <img src="/public/admin/assets/categoryImages/<%= data[i].category_image %>" alt="Category Image" style="object-fit: contain; width: 100%; height: 100%;">
                  </div>
                </td>
                <td><button class="btn btn-transparent edit-btn" onclick="editCategory(this)"><i class="bi bi-pencil-square"></i>Edit</button></td>
                <% if(data[i].list) {%>
                  <td name="<%= data[i]._id %>"><span class="text-success font-weight-bold">&#9989; Listed</span></td>
                  <td id="<%= data[i]._id %>"><button class="btn btn-warning pl-3 pr-3" id="<%= data[i]._id %>" onclick="categoryList(this)"><i class="bi bi-x-circle"></i>Unlist</button></td>
                <% } else { %>
                  <td name="<%= data[i]._id %>"><span class="text-danger font-weight-bold">&#128683; Unlisted</span></td>
                  <td id="<%= data[i]._id %>"><button class="btn btn-primary pl-4 pr-4" id="<%= data[i]._id %>" onclick="categoryList(this)"><i class="bi bi-check2-circle"> </i>list</button></td>
                <% } %>
               <td><%= data[i].offerApplied ? "Applied" : "" %></td>
                <% if(data[i].offerApplied) { %>
                  <td>
                    <button type="button" class="btn btn-danger" name="offerRemoveBtn" data-offer-id="<%= data[i].offerApplied %>" data-category-id="<%= data[i]._id %>">Remove</button>
                  </td>
                <% } else {%>
                  <td>
                      <button type="button" name="categoryOfferModalViewBtn" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-category-id="<%= data[i]._id %>">
                          Apply
                      </button>
                  </td>
                <% } %>
                <!-- <% if(!(data[i].delete) ) {%>
                  <td><button class="btn btn-danger"><i class="bi bi-trash3"></i>Delete</button></label></td>
                <% } else { %>
                  <td><button class="btn btn-danger"><i class="bi bi-plus-square-dotted"></i>Retrieve</button></label></td>
                <% } %> -->

              </tr>
              <% } } else{ %>
                <tr class="bg-danger">
                  <th class="text-dark" colspan="7">CATEGORY IS NOT FOUND</th>
                </tr> 
              <% } %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="modal" id="modal" style="display: none; width: 23rem;margin-right: 50%;margin-left: 40%; margin-top:3rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Category List/Unlist</h5>
        <button class="btn btn-transparent" onclick="back()"><i class="bi bi-x bg-danger" cancel></i></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" onclick="back()">Cancel</button>
        <button type="button" class="btn btn-primary" id="sucess" data-category-id="true" data-category-name="" onclick="sucess()">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 30rem;">
      <div class="modal-content" style="border: 0;">
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <button type="button" class="close text-center" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                   
            </div>
            <input type="hidden" id="offerApplyingCategory" value="">
            <div style="overflow-y: scroll; max-height: 300px;">
                <% for(let i = 0;i < offerData.length ;i++) { %>
                    <div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="card offer-card mb-4 mt-2 col-md-9">
                            <div class="card-body">
                                <div class="ribbon"><%= offerData[i].OfferPercentage %>%</div><br>
                                <div class="d-flex justify-content-end">
                                    <span class="font-weight-bold"><%= offerData[i].offerName %></span>
                                </div>
                                <div class="d-flex justify-content-between align-items-end">
                                    <button class="btn btn-primary Close" name="offerApplyBtn"  data-offer-id="<%= offerData[i]._id %>" data-dismiss="modal" aria-label="Close">Apply</button>
                                    <span style="font-size: 13px;"> <%= offerData[i].startDate.toLocaleDateString() %> to <%= offerData[i].endDate.toLocaleDateString() %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="col-md-3">
  
</div>

