<%- include('../partials/header.ejs') %>
    <div class="col-12 grid-margin stretch-card" id="userview">
    <div class="card">
      <div class="card-body  mt-5">
        <h4 class="card-title text-center">View Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
        <div class="d-grid gap-4 d-md-flex justify-content-md-end mb-2">
          <input type="text" class="form-control col-3 mr-2" id="categorySearch" placeholder="Category Search" name="categorySearch">
          <button type="button" class="btn btn-outline-primary" onclick="search()"><i class="bi bi-search"></i></button>
        </div>
        <div class="table-responsive ">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>email</th>
                <th>PhoneNumber</th>
                <th>Joined_Date</th>
                <th>Verification</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-white">
              <% if(data.length) { %>
              <% for(let i=0;i<data.length;i++){ %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= data[i].username %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phonenumber %></td>
                <td><%= data[i].joined_date %></td>
                <td><%= data[i]._isVerified ? 'Verfied' : 'NotVerified'%></td>
                <% if(data[i].block) {%>
                  <td id="<%= data[i]._id %>"><button class="btn  btn-outline-danger pl-4 pr-4" id="<%= data[i]._id %>" onclick="userList(this)">Block</button></td>
                <% } else { %>
                  <td id="<%= data[i]._id %>"><button class="btn btn-outline-success pl-3 pr-3" id="<%= data[i]._id %>" onclick="userList(this)">Unblock</button></td>
                <% } %>
              </tr>
              <% } }else {%>
                <tr class="bg-danger">
                  <th class="text-dark" colspan="7">USER IS NOT FOUND</th>
                </tr> 
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modal" style="display: none; width: 23rem;margin-right: 50%;margin-left: 40%; margin-top:3rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">User Block/Unblock</h5>
        <button class="btn btn-transparent" onclick="back()"><i class="bi bi-x"></i></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel" onclick="back()">Cancel</button>
        <button type="button" class="btn btn-primary" id="sucess" data-category-id="">OK</button>
      </div>
    </div>
  </div>
  </div>
<%- include('../partials/footer.ejs') %>