<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
        <!-- Breadcrumb Section Begin -->
       <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <!-- <h4>Address</h4> -->
                        <div class="breadcrumb__links">
                            <a href="<%= locals.login ? '/home' : '/'  %>">Home</a>
                            <a href="/addressinformation">Address</a>
                            <span class="text-muted">Add Address</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <section class="user-profile-sidebar">
        <div class="container-fluid  ">
            <div class="row flex-nowrap ">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 Profile-sidebar personal-information py-4" >
                    <!-- OPTIONS SELECTING SECTION -->
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 ">
                        <div class="dropdown  pt-3 mx-auto">
                            <a href="#" class="text-decoration-none mx-auto"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle fa-3x "></i>
                            </a>
                        </div>
                        <div class="pb-4 w-100 user-heaading d-none d-sm-inline">
                                <p class="ml-md-1 m-0 p-0 text-dark" style="font-size: 19px;">Hello ,</p>
                                <h3 class="  m-0 p-0 text-dark text-center"><%= locals.username %></h3>
                        </div>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            <li class="nav-item user-profile">
                                <a href="/userprofile" class="nav-link align-middle px-0">
                                    <i class="fa-lg bi-person-fill pr-2"></i> <span class="ms-1 d-none d-sm-inline">
                                        Personal Information</span>
                                </a>
                            </li>
                            <li class="user-profile">
                                <a href="/viewWallet" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-solid fa-wallet pr-2"></i> <span
                                        class="ms-1 d-none d-sm-inline">Wallet</span>
                                </a>
                            </li>
                            <li class="user-profile">
                                <a href="/addressinformation" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-regular fa-address-card pr-2"></i> <span
                                        class="ms-1 d-none d-sm-inline">Address</span>
                                </a>
                            </li>
                            <li class="user-profile">
                                <a href="/api/viewWishlist" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-regular fa-heart pr-2"></i> <span
                                        class="ms-1 d-none d-sm-inline">Wishlist ( <%= locals.wishlistCount %>
                                            )</span>
                                </a>
                            </li>
                            <li class="user-profile">
                                <a href="/api/viewOrder" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-solid fa-truck-fast pr-2"></i> <span
                                        class="ms-1 d-none d-sm-inline">Orders</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                        <!-- RIGHT SIDE CONTENT SECTION -->
                        <div class="col mr-md-5 ml-md-3 user-profile-rightside py-4">
                        <div class="right-side p-4 order-right-side ml-md-3 mr-md-3 user-profile-conatiner" style="overflow: hidden;">
                            <h2 class="text-center font-weight-bold mb-4">Add New Address</h2>

                            <form id="newAddressAdding">
                                <div class="alert " role="alert" id="add-new-address-sucess">

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="input1">Name</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Name"
                                            name="Name">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="input2">Phone Number</label>
                                        <input type="text" class="form-control" id="PhnNumber"
                                            placeholder="10-digit Mobile Number" name="MobileNumber">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="input1">Pincode</label>
                                        <input type="text" class="form-control" id="Pincode"
                                            placeholder="6 Digit Pincode" name="Pincode">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="input2">Locality</label>
                                        <input type="text" class="form-control" id="Locality" placeholder="Locality"
                                            name="Locality">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textarea">Address</label>
                                    <textarea class="form-control" id="textarea" rows="3" name="Address" id="Address"
                                        placeholder="Address (Area & Street)"></textarea>
                                    <span class="text-danger ml-2" name="address-validate-message"></span>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="input1">City/Distict/Town</label>
                                        <input type="text" class="form-control" id="City"
                                            placeholder="City/Distict/Town" name="City">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="districtSelect">Select a District:</label><br>
                                        <select id="districtSelect" name="District" class="district">
                                            <option value="" class="mt-2">Select District</option>
                                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                            <option value="Kollam">Kollam</option>
                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                            <option value="Alappuzha">Alappuzha</option>
                                            <option value="Kottayam">Kottayam</option>
                                            <option value="Idukki">Idukki</option>
                                            <option value="Ernakulam">Ernakulam</option>
                                            <option value="Thrissur">Thrissur</option>
                                            <option value="Palakkad">Palakkad</option>
                                            <option value="Malappuram">Malappuram</option>
                                            <option value="Kozhikode">Kozhikode</option>
                                            <option value="Wayanad">Wayanad</option>
                                            <option value="Kannur">Kannur</option>
                                            <option value="Kasaragod">Kasaragod</option>
                                        </select>
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="input1">Landmark</label>
                                        <input type="text" class="form-control" id="Landmark" placeholder="Landmark"
                                            name="Landmark">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="input2">Alternate Number</label>
                                        <input type="text" class="form-control" id="AlteranteNumber"
                                            name="AlteranteNumber" placeholder="Alternate Mobile Number">
                                        <span class="text-danger ml-2" name="address-validate-message"></span>
                                    </div>
                                </div>
                                <input type="hidden" id="checkWhichAddress" value="true">
                                <input class="btn btn-primary pl-4 pr-4" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include('../partials/footer.ejs') %>