<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Orders</h4>
                    <div class="breadcrumb__links">
                        <!-- <a href="/home">Home</a>
                        <span>Shop</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 p-4 pr-5 Profile-sidebar" >
                <!-- Left Side Div -->
                <div class="left-side">
                    <div>
                        <i class="bi bi-person-circle fa-2x"></i><span class="ml-2 font-weight-bold text-muted">My Profile</span>
                        <h3 class="mt-2 text-center font-weight-bold"><%= locals.username %></h3>
                    </div>
                        <a href="/userprofile">
                            <div class="mt-4 options-userprofle">
                                <i class="bi bi-person-fill fa-lg"></i> <span> Personal Information</span> 
                            </div>
                        </a>
                        <a href="/addressinformation">
                            <div class="mt-2 options-userprofle">
                                <i class="fa-regular fa-address-card"></i>  <span> Address</span> 
                            </div>
                        </a>
                        <a href="/api/viewOrder"> <span><%=  %></span>
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Orders</span> 
                            </div>
                        </a>
                        <a href="/api/viewWishlist"> 
                            <div class="mt-2 options-userprofle">
                                <i class="fa-regular fa-heart"></i> <span> Wishlist</span> 
                                <span class="text-dark font-weight-bold"> ( <%= locals.wishlistCount %> )</span>
                            </div>
                        </a>
                </div>
                <div class="d-flex flex-column align-items-start mt-5 justify-content-center">
                    <h5 class="font-weight-bold mb-3">Order Filter</h5>

                    <div class="input-group">
                        <input type="radio" class="mb-1" name="orderFilter" id="" value="All"> <span class="ml-2 font-weight-bold text-secondary">All</span>
                    </div>

                    <div class="input-group">
                        <input type="radio" class="mb-1" name="orderFilter" id="" value="Placed"> <span class="ml-2 font-weight-bold text-secondary">Placed</span>
                    </div>

                    <div class="input-group">
                        <input type="radio" class="mb-1" name="orderFilter" id="" value="Shipped"> <span class="ml-2 font-weight-bold text-secondary">Shipped</span>
                    </div>

                    <div class="input-group">
                        <input type="radio" class="mb-1" name="orderFilter" id="" value="Delivered"> <span class="ml-2 font-weight-bold text-secondary">Delivered</span>
                    </div>

                    <div class="input-group">
                        <input type="radio" class="mb-1" name="orderFilter" id="" value="Canceled"> <span class="ml-2 font-weight-bold text-secondary">Canceled</span>
                    </div>

                </div>
            </div>
            <div class="col-md-8 ml-4">
                <!-- Right Side Div -->
                <div class="right-side p-4 order-right-side">
                    <h2 class="text-center font-weight-bold mb-5">Orders</h2>

                    <!-- Order Detials view Div -->
                    <% if(orderData.length > 0) { %>
                        <% for(let i= 0 ; i < orderData.length ; i++) { %>
                            <div name="orderDatas" value="<%= orderData[i].productInforamtion.orderStatus %>">
                            <a href="/api/orderDetails?id=<%= orderData[i]._id %>&productId=<%= orderData[i].productData[0]._id %>">
                                <div class="p-4 pl-5 order-view d-flex mt-3 pb-2" id="">
                                    <div class="order-detail-image checkout-productImg">
                                        <img src="/public/admin/assets/productImages/<%= orderData[i].productData[0].productImages[0] %>"  alt="">
                                        <div class="m-3 d-flex justify-content-center order-qunatity">
                                            Qty: <%= orderData[i].productInforamtion.productquantity %>
                                        </div>
                                    </div>
                        
                                    <div class="ml-4">
                                        <h4 class="ml-4 mt-1 font-weight-bold"><%= orderData[i].productData[0].productName %></h4>
                                        <div class="d-flex align-items-center">
                                            <h5 class="ml-4 mr-2 mt-1"><i class="bi bi-currency-rupee"></i> <span class="font-weight-bold"><%= orderData[i].productInforamtion.productPrice %></span></h5>
                                        </div>   
                                        <div class="d-flex align-items-center m-2 mt-3">
                                            <h6 class="ml-3 mr-5">Color &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>&nbsp;&nbsp;&nbsp;&nbsp;:<input type="color" value="<%= orderData[i].productData[0].color %>" class="cart-color" disabled>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <h6 class="ml-4 mr-5 ">Size  </h6> <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= orderData[i].productData[0].size %></span>
                                        </div>
<!--                                 
                                        <div class="d-flex align-items-center m-2 mt-3">
                                            <h6 class="ml-3 mr-2">Ordered Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= orderData[i].createdAt.toLocaleDateString() %></h6>
                                        </div> -->
                                        <div class="d-flex align-items-center m-2 mt-3">
                                            <% if(orderData[i].productInforamtion.orderStatus == 'Canceled') {%>
                                                <!-- <i class="fa-solid fa-circle"></i> -->
                                                <i class="fa-solid fa-circle ml-3" style="color: #ff0000;"></i><h5 class="ml-2 font-weight-bold text-danger">Canceled on <%= orderData[i].updatedAt.toLocaleDateString() %></h5>
                                            <% } else if (orderData[i].productInforamtion.orderStatus == 'Delivered') { %>
                                                <i class="fa-solid fa-circle ml-3 text-success"></i><h5 class="ml-2 font-weight-bold text-success">Delivered on <%= orderData[i].updatedAt.toLocaleDateString() %></h5>
                                            <% } else { %>
                                                <h6 class="ml-3 mr-2">Delivery Expected &nbsp;: <span class="text-danger">3 to 4 Days to Delivery</span> <span class="font-weight-bold text-success"> (<%= orderData[i].productInforamtion.orderStatus %>)</span></h6>
                                            <% } %>
                                        </div>
                                        
                                        
                                    </div>    
                                </div>
                            </a>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>