<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Address</h4>
                    <div class="breadcrumb__links">
                        <!-- <a href="/home">Home</a>
                        <span>Shop</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-2 p-4 pr-5 Profile-sidebar" >
                <!-- Left Side Div -->
                <div class="left-side">
                    <div>
                        <i class="bi bi-person-circle fa-2x"></i><span class="ml-2 font-weight-bold text-muted">My Profile</span>
                      
                    </div>
                        <a href="/userprofile">
                            <div class="mt-4 options-userprofle">
                                <i class="bi bi-person-fill fa-lg"></i> <span> Personal Information</span> 
                            </div>
                        </a>
                        <a href="/addressinformation">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Address</span> 
                            </div>
                        </a>
                        <a href="#">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Orders</span> 
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-md-8 ml-4">
                <!-- Right Side Div -->
                <div class="right-side p-4 order-right-side">
                    <h2 class="text-center font-weight-bold mb-4">Orders</h2>

                    <!-- Order Detials view Div -->
                    <% if(orderData.length > 0) { %>
                        <% for(let i= 0 ; i < orderData.length ; i++) { %>
                            <a href="/api/orderDetails?id=<%= orderData[i]._id %>&productId=<%= orderData[i].productData[0]._id %>">
                                <div class="p-4 pl-5 order-view d-flex mt-3 pb-2" id="">
                                    <div class="order-detail-image checkout-productImg">
                                        <img src="/public/admin/assets/productImages/<%= orderData[i].productData[0].productImages[0] %>"  alt="">
                                        <div class="m-3 d-flex justify-content-center order-qunatity">
                                            Qty: <%= orderData[i].productInforamtion.productquantity %>
                                        </div>
                                    </div>
                        
                                    <div class="ml-4">
                                        <h4 class="ml-4 mt-1 font-weight-bold"><%= orderData[i].productData[0].productName %></h4>
                                        <div class="d-flex align-items-center">
                                            <h5 class="ml-4 mr-2 mt-1"><i class="bi bi-currency-rupee"></i> <span class="font-weight-bold">333</span></h5>
                                        </div>   
                                        <div class="d-flex align-items-center m-2 mt-3">
                                            <h6 class="ml-3 mr-5">Color &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>&nbsp;&nbsp;&nbsp;&nbsp;:<input type="color" value="<%= orderData[i].productData[0].color %>" class="cart-color" disabled>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <h6 class="ml-4 mr-5 ">Size  </h6> <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= orderData[i].productData[0].size %></span>
                                        </div>
                                
                                        <div class="d-flex align-items-center m-2 mt-3">
                                            <h6 class="ml-3 mr-2">Ordered Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= orderData[i].createdAt.toLocaleDateString() %></h6>
                                        </div>
                                        <div class="d-flex align-items-center m-2 mt-3"> 
                                            <h6 class="ml-3 mr-2">Delivery Expected &nbsp;: <span class="text-danger">3 to 4 Days to Delivery</span></h6>
                                        </div>
                                        
                                        
                                    </div>    
                                </div>
                            </a>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>