<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Address</h4>
                    <div class="breadcrumb__links">
                        <!-- <a href="/home">Home</a>
                        <span>Shop</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-2 p-4 pr-5 Profile-sidebar" >
                <!-- Left Side Div -->
                <div class="left-side">
                    <div>
                        <i class="bi bi-person-circle fa-2x"></i><span class="ml-2 font-weight-bold text-muted">My Profile</span>
                      
                    </div>
                        <a href="/userprofile">
                            <div class="mt-4 options-userprofle">
                                <i class="bi bi-person-fill fa-lg"></i> <span> Personal Information</span> 
                            </div>
                        </a>
                        <a href="/addressinformation">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Address</span> 
                            </div>
                        </a>
                        <a href="/api/viewOrder">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Orders</span> 
                            </div>
                        </a>
                        <a href="/api/viewWishlist">
                          <div class="mt-2 options-userprofle">
                              <i class="bi bi-box-seam-fill"></i> <span> Wishlist</span> 
                          </div>
                      </a>
                </div>
            </div>
            <div class="col-md-8 ml-4">
                <!-- Right Side Div -->
                <!-- <div class="right-side p-4 order-right-side"> -->
                    <!-- <h2 class="text-center font-weight-bold mb-4">Orders</h2> -->

                    <!-- Order Progress view Div -->
                    <section class="">
                        <!-- <section class="vh-100 gradient-custom-2"> -->
                        <div class="container">
                            <!-- <div class="container py-5 h-100"> -->
                          <div class="row d-flex justify-content-center align-items-center h-100" data-order-status="<%= orderData[0].productInforamtion.orderStatus %>" id="order-Progress-ViewPage" data-order-Place="<%= orderData[0].createdAt %>">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                              <div class="card card-stepper" style="border-radius: 16px;">
                                <div class="card-header p-4">
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                      <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body"> <%= orderData[0]._id %></span></p>
                                      <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"> <%= orderData[0].createdAt.toLocaleDateString() %></span> </p>
                                    </div>
                                    <div>
                                      <h6 class="mb-0"> <a href="/api/viewOrder">View Details</a> </h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-body p-4">
                                    <div class="d-flex flex-row mb-4 pb-2">
                                        <div class="flex-fill">
                                          <a href="/productdetails?id=<%= orderData[0].productData[0]._id %>">
                                            <h5 class="bold font-weight-bold"><%= orderData[0].productData[0].productName %></h5>
                                          </a>
                                          <p class="text-muted mt-2"> Qty: <%= orderData[0].productInforamtion.productquantity %> item</p>
                                          <h4 class="mb-3 mt-3 font-weight-bold"> <i class="bi bi-currency-rupee"></i> <%= orderData[0].productInforamtion.productPrice %>  <span class="small text-muted"> via (<%= orderData[0].paymentMethod %>) </span></h4>
                                          <p class="text-muted mt-2"> Payment Method: <span class="font-weight-bold text-body"><%= orderData[0].paymentMethod %></span></p>
                                          <p class="text-muted mt-2">Tracking Status on: <span class="text-body">
                                            <%= new Intl.DateTimeFormat('en-US', {
                                                    hour: 'numeric',
                                                    minute: 'numeric',
                                                    second: 'numeric'
                                                }).format(new Date()); %>, Today</span></p>
                                        </div>
                                        <div>
                                          <a href="/productdetails?id=<%= orderData[0].productData[0]._id %>">
                                            <img class="align-self-center img-fluid"
                                              src="/public/admin/assets/productImages/<%= orderData[0].productData[0].productImages[0] %>" width="250">
                                          </a>
                                        </div>
                                    </div>

                                    <!-- **** LOAD TIME EVENT WORKING ON PROGRESS BAR  IN JS order>js*** -->
                                    <div id="progress-div">
                                        <div class="col-md-11 d-flex">
                                            <div class="col-md-6 d-flex align-items-center">
                                              <span class="progress-number">1</span>
                                              <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 95%;height: 4px;">
                                                <div class="progress-bar progress-bar-striped bg-success" name="progress-order" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                              </div>
                                            </div>
                                          <div>
                                            <span class="progress-number">2</span>
                                          </div>
                                          <div class="col-md-6 d-flex align-items-center">
                                              <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 95%;height: 4px;">
                                                <div class="progress-bar progress-bar-striped bg-success" name="progress-order" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                              </div>
                                              <span class="progress-number p-2">3</span>
                                          </div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <span class="text-progressbar ml-2">Placed</span>
                                            
                                            <span class="text-progressbar">Shipped</span>
                                            
                                            <span class="text-progressbar mr-4">Delivered</span>
                                          
                                        </div>
                                    </div>


                                    <div id="progress-div-canceled">
                                        <div class="col-md-11 d-flex">
                                            <div class="col-md-12 d-flex align-items-center">
                                              <span class="progress-number mr-2">1</span>
                                              <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 95%;height: 4px;">
                                                <div class="progress-bar progress-bar-striped bg-secondary" name="progress-order" style="width: 0%; transition: width 2s ease-in-out;"></div>
                                              </div>
                                            </div>
                                            <div>
                                              <span class="progress-number">2</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <span class="text-progressbar ml-2">Placed</span>   
                                            <span class="text-progressbar mr-4">Canceled</span>
                                          
                                        </div>
                                    </div>
                                </div>
                                 <!-- **** LOAD TIME EVENT WORKING ON PROGRESS BAR  IN JS order>js*** -->
                                <% if(orderData[0].productInforamtion.orderStatus == "Canceled" || orderData[0].productInforamtion.orderStatus == 'Delivered'){ %>
                                <% } else { %>
                                  <div class="card-footer p-4" id="order-progress-footer">
                                    <div class="d-flex justify-content-between">
                                      <h5 class="fw-normal mb-0"><a href="#" id="orderCancel" data-product-qunatity="<%= orderData[0].productInforamtion.productquantity %>" data-order-id="<%= orderData[0]._id %>" data-product-id="<%= orderData[0].productData[0]._id %>">Cancel Order</a></h5>
                                    </div>
                                  </div>
                                <% } %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>