<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>

    <section class="shop-details">
        <div class="product__details__breadcrumb ml-5 pt-4">
            <a href="/home">Home</a>
            <a href="/home">Shop</a>
            <span>Product Details</span>
        </div>
        <div class="grid-container">
            
            <div class="grid-item">
                <div class="productdetail-imgTemp" id="image-temp">
                    <div class="tempImg" ><img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[1] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[2] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" alt="" id="image-thumb"></div>
                    
                </div>
            </div>
            <div class="grid-item" id="imageView-Div">
                <img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" id="divInsideImage" >
            </div>
            <div class="grid-item">
                <ul type="none">
                    <li>
                        <h5><%= product.brandname %></h5>
                    </li>
                    <li class="text-center mt-5">
                        <h3><%= product.productName %></h3>
                    </li>
                    <li class="price mt-4">
                       <i class="bi bi-currency-rupee"></i> <%= product.price %>
                    </li>
                    <li class="mt-2 mb-4">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                    </li>
                    <li class="mb-3">
                        <span class="product-heading">Category : </span>
                            <% for(let i=0;i<category.length;i++){ %>
                                <% if(product.categoryIds.includes(category[i]._id)) {%>
                                  <%= category[i].categoryname %>&nbsp;
                              <% } }%>
                    </li>
                    <li class="mb-3"><span class="product-heading">in Stock : </span> <span class="text-danger"><%= product.stock %> left</span> </li>
                    <li class="d-flex mb-3"><span class="product-heading">Color : </span> <div id="productdetail-color-view" name="<%= product.color %>" ></div></li>
                    <li class="mb-3"><span class="product-heading">Size : </span> <span class="text-primary font-weight-bold"><%= product.size %> </span> </li>
                    <li class="mb-3"><span class="product-heading">Material : </span> <span class="text-primary font-weight-bold"><%= product.material %> </span> </li>
                    <div class="product__details__btns__option">
                        <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                        <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                    </div>
                    <li>
                        <button class="btn btn btn-warning rounded-pill btn-addToCart">Add To Cart</button>
                        <button class="btn btn btn-warning rounded-pill btn-buyNow">Buy Now</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>

    <section class="mt-5 ml-4 mr-4">
        <h2>Description</h2>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= product.description %></span>
    </section>
    <section class="mt-5 ml-4 mr-4 mb-5">
        <h2>Specification</h2>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= product.specifications[0] %></span>
    </section>
                                

    
    
        <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
        <script>

            document.getElementById('image-temp').addEventListener('mouseover',function(event){
                if(event.target.id == "image-thumb"){
                    const imageViewDiv = document.getElementById('divInsideImage');
                    const imageSrc = event.target.src;
                    imageViewDiv.src = imageSrc;
                }
                })

            window.addEventListener('load', function() {
                
                const colorDiv = document.getElementById('productdetail-color-view');
                const color = colorDiv.getAttribute('name');
                colorDiv.style.backgroundColor = color;
                

            });


            document.getElementById('imageView-Div').addEventListener('mouseover',()=>{
                console.log('hello');
                let options = {
                    width:400,
                    zoomwidth:100,
                    scale:1,
                    zoomPosition: 'original',
                }
                new ImageZoom(document.getElementById("imageView-Div"), options);
            })
        </script>
        <!-- Related Section End -->
<%- include('../partials/footer.ejs') %>