<% for(let i = 0; i < product.length; i++) { %>
    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="/public/admin/assets/productImages/<%= product[i].productImages[0] %>">
                <% if(product[i].offerId) { %>
                    <span class="label text-white" style="background-color: #FF0000; "><%= product[i].offerPercentage %>% OFF</span>
                <% } %>
                <ul class="product__hover">

                    <!-- Wishlist -->
                    <li>
                        <% if( locals.wishlistData ? true : false ) {%>
                            <a href="#"  name="addToWishlist">
                                <% if(wishlistData.length != 0 ? wishlistData[0].wishlistProducts.includes(product[i]._id) : false) {%>
                                    <i class="fa-solid fa-heart fa-lg text-danger fa-lg  py-3 px-2" data-wishlist-productId="<%= product[i]._id %>"></i> 
                                    <span class="mr-5">Item In You Wishlist</span> 
                                <% } else { %>
                                    <i class="fa-regular text-dark fa-heart fa-lg fa-lg  py-3 px-2" data-wishlist-productId="<%= product[i]._id %>"></i> 
                                    <span class="mr-5">Add to Wishlist</span> 
                                <% } %>
                            </a>
                        <% } else { %>
                            <a href="/login">
                                <i class="fa-regular text-dark fa-heart fa-lg fa-lg  py-3 px-2" data-wishlist-productId="<%= product[i]._id %>"></i> 
                                <span class="mr-5">Add to Wishlist</span> 
                            </a>
                        <% } %>
                    </li>

                    <li id="<%= product[i]._id %>">
                        <% let InCart = locals.dataCart && dataCart.length != 0 ? dataCart[0].cartProducts.some(item => item.productId.equals(product[i]._id)) : false %>
                        <% if(!InCart && product[i].stock > 0 ){ %>
                                <a href="#" name="homePageAddToCart"> <i class="bi bi-cart-plus-fill text-dark" data-product-id="<%= product[i]._id %>" data-product-price="<%= product[i].price %>"></i><span>Add to Cart</span></a>
                        <% } else {%>
                            <% if(product[i].stock > 0) { %>
                                <a href="/api/cart"> <i class="bi bi-cart3 text-dark"></i><span>Go to Cart</span></a>
                            <% } else {%>
                                <a href="/api/cart"> <i class="bi bi-cart3 text-dark"></i><span>Out Of Stock</span></a>
                            <% } %>
                        <% } %>
                            
                    </li>

                    <li>
                        <% if(product[i].stock > 0) { %>
                            <a href="/api/checkout?id=<%= product[i]._id %>&single=true"><i class="bi bi-bag-fill text-danger"></i> <span>Buy Now</span></a>
                        <% } else { %>
                            <i class="bi bi-bag-fill text-danger"></i> <span>Out Of Stock</span>
                        <% } %>
                    </li>
                </ul>
            </div>
            <div class="product__item__text">

                <h6><%= product[i].productName %></h6>
                <a href="/productdetails?id=<%= product[i]._id %>" class="add-cart" >+ View More</a>

                <input type="hidden" name="filterDataForCategorys" value="<%= product[0].categoryIds %>" id="">
                <input type="hidden" name="filterDataForCategorys" value="<%= product[0].brandname %>" id="">
                <h5>&#8377; <%= product[i].price %></h5>
                <div class="product__color__select">
                    <label for="pc-4">
                        <input type="radio" id="pc-4">
                    </label>
                </div>
            </div>
        </div>
    </div>
<% } %>