<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>

    <section class="shop-details">
        <div class="product__details__breadcrumb ml-5 pt-4">
            <a href="/home">Home</a>
            <a href="/allproductview">Shop</a>
            <span>Product Details</span>
        </div>
        <div class="grid-container">
            
            <div class="grid-item">
                <div class="productdetail-imgTemp" id="image-temp">
                    <div class="tempImg" ><img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[1] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[2] %>" alt="" id="image-thumb"></div>
                    <div class="tempImg"><img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" alt="" id="image-thumb"></div>
                    
                </div>
            </div>
            <div class="grid-item" id="imageView-Div">
                <img src="/public/admin/assets/productImages/<%= product.productImages[0] %>" id="divInsideImage" >
            </div>
            <div class="grid-item">
                <ul type="none">
                    <li>
                        <h5><%= dataBrand %></h5>
                    </li>
                    <li class="text-center mt-5">
                        <h3><%= product.productName %></h3>
                    </li>
                    <li class="price mt-4" >
                       <i class="bi bi-currency-rupee"></i><span id="product-price"><%= product.price %></span>
                    </li>
                    <li class="mt-2 mb-4">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                    </li>
                    <li class="mb-3">
                        <span class="product-heading">Category : </span>
                            <% for(let i=0;i<category.length;i++){ %>
                                <% if(product.categoryIds.includes(category[i]._id)) {%>
                                  <%= category[i].categoryname %>&nbsp;
                              <% } }%>
                    </li>
                    <li class="mb-3"><span class="product-heading">in Stock : </span> <span class="text-danger"><%= product.stock %> left</span> </li>
                    <li class="d-flex mb-3"><span class="product-heading">Color : </span> <div id="productdetail-color-view" name="<%= product.color %>" ></div></li>
                    <li class="mb-3"><span class="product-heading">Size : </span> <span class="text-primary font-weight-bold"><%= product.size %> </span> </li>
                    <li class="mb-3"><span class="product-heading">Material : </span> <span class="text-primary font-weight-bold"><%= product.material %> </span> </li>
                    <li class="mb-3"><span class="product-heading">Quanitity : </span><input type="number" class="quantity" name="quanitity" id="product-quanitity" min="1" max="<%= product.stock %>" value="1"></li>
                    <div class="product__details__btns__option">
                        <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                        <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                    </div>
                    <li>
                        <div class="d-flex">
                            
                            <div id="addToCart">
                                <% if(!dataCart){ %>
                                    <button class="btn btn btn-warning rounded-pill btn-addToCart" data-product-id="<%= product._id %>" onclick="addToCart(this)">Add To Cart</button>
                                <% } else { %>
                                    <a href="/api/cart" class="btn btn btn-warning rounded-pill btn-addToCart"><i class="bi bi-cart3 fa-lg text-dark"></i> Go To Cart</a>
                                <% } %>
                            </div>
                        
                            <!-- <button class="btn btn btn-warning rounded-pill btn-buyNow">Buy Now</button> -->
                            <a href="/api/checkout?id=<%= product._id %>">Buy Now</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>

    <section class="mt-5 ml-4 mr-4">
        <h2>Description</h2>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= product.description %></span>
    </section>
    <section class="mt-5 ml-4 mr-4 mb-5">
        <h2>Specification</h2>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= product.specifications[0] %></span>
    </section>
                                

    
    
        
        <script>

            
        </script>
        <!-- Related Section End -->
<%- include('../partials/footer.ejs') %>