<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>User Profile</h4>
                        <div class="breadcrumb__links">
                            <!-- <a href="/home">Home</a>
                            <span>Shop</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <!-- Left Side Div -->
                    <div class="left-side">
                        <div>
                            <i class="bi bi-person-circle fa-2x"></i><span class="ml-2 font-weight-bold text-muted">My Profile</span>
                            <h3 class="mt-2 text-center font-weight-bold"><%= userInfo.username %></h3>
                        </div>
                        <a href="/userprofile">
                            <div class="mt-4 options-userprofle">
                                <i class="bi bi-person-fill fa-lg"></i> <span> Personal Information</span> 
                            </div>
                        </a>
                        <a href="/addressinformation">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Address</span> 
                            </div>
                        </a>
                        <a href="/api/viewOrder">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Orders</span> 
                            </div>
                        </a>
                        <a href="/api/viewWishlist">
                            <div class="mt-2 options-userprofle">
                                <i class="bi bi-box-seam-fill"></i> <span> Wishlist</span> 
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Right Side Div -->
                    <div class="right-side p-5">
                        <h2 class="text-center font-weight-bold">Personl Information</h2>

                        <form class="mt-5">
                            <h6 class="font-weight-bold text-success mb-4" id="userupdate-result" style="display: none;"></h6>
                            <div class="form-group">
                                <label for="input1" class="m-0 font-weight-bold text-muted">UserName</label>
                                <input type="text" class="form-control col-sm-4 input-userprofile p-2" id="userprofile-username" value="<%= userInfo.username %>" disabled>
                                <span class="text-danger" name="userinfo-hint"></span>
                            </div>
                            <div class="form-group">
                                <label for="input2" class="m-0 font-weight-bold text-muted">Email</label>
                                <input type="text" class="form-control col-sm-4 input-userprofile mb-4 p-2" id="input2" value="<%= userInfo.email %>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="input3" class="m-0 font-weight-bold text-muted">Phone Number</label>
                                <input type="text" class="form-control col-sm-4 input-userprofile p-2" id="userprofile-phonenumber"" value="<%= userInfo.phonenumber %>" disabled>
                                <span class="text-danger" name="userinfo-hint"></span>
                            </div>
                            <div class="d-flex">
                                <input type="button" class="btn btn-primary" value="Save" data-user-id="<%= userInfo._id %>" id="editinfomation-submit" style="display: none;">
                                <a href="#" onclick="editUserDetails()" id="userprofile-edit">Edit Information</a> 
                                <a href="#" id="reset-password-link" class="ml-3">Reset Password</a>
                            </div>
                        </form>

                        <div id="reset-password-div" style="display: none;">
                            <h4 class="font-weight-bold mt-5 mb-3">Reset Password</h4>
                            <form id="password-reset">
                                <h6 class="" id="resetPassword-result" style="display: none;"></h6>
                                <div class="form-group">
                                    <label for="input1" class="m-0 font-weight-bold text-muted">Current Password</label>
                                    <input type="password" class="form-control col-sm-4 input-userprofile p-2" id="currentPassword-reset" value="">
                                    <span class="text-danger" name="resetPassword-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="m-0 font-weight-bold text-muted">New Paasword</label>
                                    <input type="password" class="form-control col-sm-4 input-userprofile p-2" id="newPassword-reset" value="">
                                    <span class="text-danger" name="resetPassword-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="m-0 font-weight-bold text-muted">Confirm Password</label>
                                    <input type="password" class="form-control col-sm-4 input-userprofile p-2" id="confirmPassword-reset" value="">
                                    <span class="text-danger" name="resetPassword-error"></span>
                                </div>
                                <input type="button" class="btn btn-primary" value="Reset Paasword" onclick="submitResetPassword()">
                                <input type="button" class="btn btn-secondary" value="Cancel" onclick="cancelResetOperation()">
                            </form>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<%- include('../partials/footer.ejs') %>